
//colors
$primary_color: #FFE600;

$gray-100: #eeeeee;
$gray-200: #999999;
$gray-300: #666666;
$gray-400: #333333;

$blue: #3483fa;
$dark-blue: #2968c8;
$white: #ffffff;

//fonts
$font-100: 12px;
$font-200: 14px;
$font-300: 16px;
$font-400: 18px;
$font-500: 24px;
$font-600: 28px;
$font-700: 46px;

//spacing
$spacing-100: 16px;
$spacing-200: 32px;
$spacing-300: 64px;

//screen width
$screen-xs: 500px;
$screen-sm: 650px;
$screen-md: 800px;
$screen-lg: 1000px;
$screen-mlg: 1200px;
$screen-xlg: 1500px;